/* .bannerQuicheAppSection {
    background-color: #f5f5f5;
    padding: 30px 0;
    text-align: center;
}

@media all and (max-width: 1024px) {
    .bannerQuicheAppSection {
        padding: 20px 0;
    }
}

@media all and (max-width: 1024px) {
    .bannerQuicheAppSection {
        padding: 20px 0;
    }
}

@media all and (max-width: 768px) {
    .bannerQuicheAppSection {
        padding: 20px 0;
    }
}

@media all and (max-width: 479px) {
    .bannerQuicheAppSection {
        padding: 10px 0;
    }
} */